<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uranium Account Activation</title>
</head>
<body>
    <h2>Activate Your Uranium Account</h2>
    <p>Dear <%= lastname %> <%= firstname %>, thank you for choosing us. Please click on the <br>
        button below to activte your Uranium account and start making transactions.</p>
        <button type="submit"><a href="http://uranium-dashboard">Activate Account</a></button>
</body>
</html>